@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

html,
body {
  @apply bg-white dark:bg-gray-950;

  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  }
}

.toggle-button {
  background-color: red;
  cursor: pointer;
  color: white;
  padding: 4px 8px;
  border-radius: 4px;
  margin-top: 20px;
}

.search-container {
  margin-top: 20px;
  padding-bottom: 20px;
}

.search {
  background: #FCFCFC;
  padding: 4px 8px;
  border: 1px solid #EEEEEE;
  border-radius: 4px;
}